<h1>Become a merchant.</h1>

<%#= render partial: "merchant_partial", locals: {action_name: "create"} %>
<% if @merchant %>
  <h1>Welcome <%= @merchant.name %></h1>
  <img src="<%= @merchant.avatar %>">
<% else %>
<h1>Please log in</h1>
<% end %>
<% if flash[:notice] %>
  <p class="flash-notice"> <%= flash[:notice] %></p>

<% end %>
