@import url('foundation.css');
// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any styles
//  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
//  * file per style scope.
//  *
//  *= require_tree .
//  *= require_self
//= require foundation_and_overrides

 // *= require foundation_and_overrides
 h1{font-size: 2em;}
 h2 {font-size: 1.5em;}

ul li {
  display: inline-block;
  // width: 30%;
  margin-left: auto;
  margin-right: auto;

}
ul.row {
  width: 80%;

}
// .merchant_buttons {
//   margin-left: auto;
//   margin-right: auto;
//   align-items: center;
//   display: flex;
// }

table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.give_me_a_margin {
  border: 1px solid black;
}
body {margin: 1%;}
