@import url('foundation.css');

// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any styles
//  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
//  * file per style scope.
//  *
//  *= require_tree .
//  *= require_self
//= require foundation_and_overrides


header {
  width: 100%;
  border-bottom: 1px solid black;
}


// nav {
//   margin-top: 5%;
//   text-align: center;
// }
//
// nav ul.nav-list li {
//   display: inline-block;
//   margin: 1% 2%;
//   font-size: 1.2rem;
// }


 h1{font-size: 2em;}
 h2 {font-size: 1.5em;}

ul li {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
ul.row {
  width: 80%;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: .9em;
}

.give_me_a_margin {
  border: 1px solid black;
}
body {margin: 1%;}











.top-bar {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: white;
}

.categories-explaination {
  padding: 0.7rem 1rem;
  margin: 0;
}


.top-bar-left {
  width: 80%;
  margin-left: 9%;
  background-color: white;
}

.top-bar-left .dropdown {
  background-color: white;
}

@media only screen {
  div.top-header {
    text-align: center;
  }

  img.not-yetsy-main-logo {
    // width: 60%;
    // margin: 0 20%;
    display: none;
  }

  nav {
    margin-top: 0%;
    text-align: center;
  }

  nav ul.nav-list li {
    display: inline-block;
    margin: 1% 2%;
    font-size: 1rem;
  }

  h1.mobile-header {
    display: block;
    font-size: .7rem;
    letter-spacing: 2px;
  }

  h1.mobile-header span {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.1rem;
  }

  div.top-bar {
    display: none;
  }
}


@media only screen and (min-width: 40.063em) {
  img.not-yetsy-main-logo {
    width: 25%;
    display: inline-block;
  }

  nav {
    margin-top: 5%;
    text-align: center;
  }

  nav ul.nav-list li {
    display: inline-block;
    margin: 1% 2%;
    font-size: 1.2rem;
  }

  h1.mobile-header {
    display: none;
  }

  div.top-bar {
    display: block;
  }
}
