<h2><%= @category.name %></h2>

<h2><% @products_in_category.each do |p| %></h2>
   <div>
   <%= p.name %></br>
   <%= link_to image_tag(p.image), merchant_product_path(p.merchant_id,p.id) %>
   </div>
<% end %>

<%= link_to("View all Categories", categories_path) %>
