<h2 class="page-header"> Product For <%= @category.name %></h2>

<div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
<% @products_in_category.each do |p| %>
  <article class="column small-6 medium-4 large-3">
    <div class="callout" data-equalizer-watch>
      <p class="product-name"><%= link_to(p.name, merchant_product_path(p.merchant_id,p.id)) %></p>
      <p><%= link_to image_tag(p.image), merchant_product_path(p.merchant_id,p.id) %></p>
    </div>
 </article>
<% end %>

<%= link_to("View all Categories", categories_path) %>
