<h1><%= @product.name %></h1>
<p><%= image_tag(product.image, size: "200x275", alt: "Photo of #{@product.name}.") %> </p>
<p> Description: <%= @product.description %></p>
<p>Price: $<%= '%.2f' % (@product.price/100) %></p>
